<div class="form-row">
  <label hidden for="{{ id }}">{{ label }}</label>
  <input placeholder="{{ label }}" type="{{ htmlType }}" id="{{ id }}" name="{{ name }}" value="{{ value }}" class="input {{ className }}" >
</div>
