{{# Card cardClassName='chat-card' key=chatId onClick=handleSelectChat}}
  {{# Row}}
    {{# Col}}
      {{{ Avatar  
        avatarType='chat-card'
        path=chatAvatarPath 
      }}}
    {{/Col}}
    {{# Col colClassName='chat-card__title'}}
        {{# Title level='4' }}
          {{ chatTitle }}
        {{/Title}}
        <div class="chat-card__message">
          <span>{{ chatText }} </span>
        </div>
    {{/Col}}
    {{# Col}}
        <div class="chat-card__date-time">{{ time }}</div>
        {{{ Badge badgeText=unreadCount }}}
    {{/Col}}
  {{/Row}}
{{/Card}}
