{{# Card cardClassName='card-user' key=this.chatId onClick=this.handleSelectChat}}
  {{# Row}}
    {{# Col}}
      {{{ Avatar avatarType='card-user' }}}
    {{/Col}}
    {{# Col}}
        {{# Title level='4' }}
          {{ this.chatTitle }}
        {{/Title}}
        <div class="card-user__message">
          <span>{{ this.chatText }} </span>
        </div>
    {{/Col}}
    {{# Col}}
        <div class="card-user__date-time">{{ this.time }}</div>
        {{{ Badge badgeText=this.unreadCount }}}
    {{/Col}}
  {{/Row}}
{{/Card}}
