{{# Card cardClassName='card-user'}}
  {{# Row}}
    {{# Col}}
      {{{ Avatar 
        avatarAltText=this.avatarAltText 
        avatarType=this.avatarType
        userInitials=this.userInitials 
      }}}
    {{/Col}}
    {{# Col}}
        {{# Title level=this.level }}
          {{ userName }}
        {{/Title}}
        <div class="card-user__message">
          <span>{{ userCardText }} </span>
        </div>
    {{/Col}}
    {{# Col}}
        <div class="card-user__date-time">{{ userCardDateTime }}</div>
        {{{ Badge badgeText=this.badgeText }}}
    {{/Col}}
  {{/Row}}
{{/Card}}
