{{# Card cardClassName='card-user'}}
  {{# Row}}
    {{# Col}}
      {{{ Avatar }}}
    {{/Col}}
    {{# Col}}
        {{# Title }}
          {{ userName }}
        {{/Title}}
        <div class="card-user__message">
          <span>{{ userCardText }} </span>
        </div>
    {{/Col}}
    {{# Col}}
        <div class="card-user__date-time">{{ userCardDateTime }}</div>
        {{{ Badge }}}
    {{/Col}}
  {{/Row}}
{{/Card}}
